<div data-controller="navbar" data-navbar-target="navbar" class="navbar scrolled-up navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-around align-items-center">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Galerie", "#", class: "nav-link" %>
          </li>
          <li class="nav-item d-flex">
            <a href="#" class="nav-link">
              Produits
              <span class="fa fa-angle-down" aria-hidden="true"></span>
              <%# <%= image_tag "Group.png", class: "little-icon" %>
            </a>
</li>
          <li class="nav-item">
            <%= link_to "A propos", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "navbar-brand" do %>
              <%= image_tag "Logo.png", id: "logo" %>
            <% end %>
          </li>
          <li class="nav-item">
            <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Recherche">
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarPanierDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "Panier.png", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarPanierDropdown">
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarAvatarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "Avatar.png", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAvatarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
